<div class="side-bar">
<h2>Add a Neighborhood</h2>

<p>Don't see your neighborhood listed? Add it!</p>
</div>

<div class="add-neighborhood-main">
    <form action="/locations" method="post">
    
    <label for="neighborhood">Neighborhood:</label>
    <input type="text" name="neighborhood" id="neighborhood">

    <input class="btn btn-success" type="submit" value="Submit">
    </form>
</div>

<div class="top-bar">
<form action="/locations" method="get">
    <input class="btn btn-info" type="submit" value="Back to Home">
</form>
</div>