<h1>Atlanta Pop Ups</h1>

{{#each locations}}
<a href="/locations/{{_id}}">{{neighborhood}}</a>
{{/each}}

<form action="/locations/new" method="get">
    <input type="submit" value="Add a Neighborhood">
</form>

<p>
    All the pop ups in your area in one place.
    Never miss out on your favorite store or restaurants 
    event again.
</p>

<button>Add a Pop Up</button>
<button>Food</button>
<button>Clothes</button>

<div>

</div>