<h2>{{location.neighborhood}} Pop Ups</h2>

<form method="POST" action="/locations/{{location._id}}?_method=DELETE">
  <input type="submit" value="Delete Location" />
</form>

<button>Add a Pop Up</button>
<button>Food</button>
<button>Clothes</button>

<div>

</div>