<h2>Add a Food Pop Up</h2>

<p>Got a new event coming up? Add it!</p>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>

<div>
    <form action="/locations" method="post">
    
    <label for="restaurant-name">Restaurant Name:</label>
    <input type="text" name="restaurant" id="restaurant-name">

    <label for="cuisine">Cuisine:</label>
    <input type="text" name="cuisine" id="cuisine">

    <label for="price">Price:</label>
    <input type="text" name="price" id="price" placeholder="$, $$, $$$, $$$$">

    <label for="address">Address:</label>
    <input type="text" name="address" id="address">

    <label for="date">Date:</label>
    <input type="date" name="time" id="date">

    <input type="submit" value="Submit">
    </form>
</div>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>