<h2>Add a Shop Pop Up</h2>

<p>Got a new event coming up? Add it!</p>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>

<div>
    <form action="/locations/{{locationId}}/shops" method="post">
    
    <label for="shop-name">Shop Name:</label>
    <input type="text" name="shop" id="shop-name">

    <label for="shop-aesthetic">Shop Aesthetic:</label>
    <input type="text" name="aesthetic" id="shop-aesthetic">

    <label for="shop-product">Shop Product(s):</label>
    <input type="text" name="product" id="shop-product">

    <label for="price">Price:</label>
    <input type="text" name="price" id="price" placeholder="$, $$, $$$, $$$$">

    <label for="address">Address:</label>
    <input type="text" name="address" id="address">

    <label for="date">Date:</label>
    <input type="date" name="time" id="date">

    <input type="submit" value="Submit">
    </form>
</div>

<form action="/locations" method="get">
    <input type="submit" value="Back to Home">
</form>